<div class="relative h-full p-4 bg-white">
  <ul class="space-y-2">
    <li>
      <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg bg-gray-200 hover:bg-gray-200">
        <ng-icon name="lucideHouse" class="w-5 h-5 text-gray-600 transition duration-75" />
        <span class="ml-3">Home</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-200">
        <ng-icon name="lucideApple" class="w-5 h-5 text-gray-600 transition duration-75" />
        <span class="ml-3">Grocery</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-200">
        <ng-icon name="lucideStore" class="w-5 h-5 text-gray-600 transition duration-75" />
        <span class="ml-3">Convenience</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-200">
        <ng-icon name="lucideWine" class="w-5 h-5 text-gray-600 transition duration-75" />
        <span class="ml-3">Alcohol</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-200">
        <ng-icon name="lucidePill" class="w-5 h-5 text-gray-600 transition duration-75" />
        <span class="ml-3">Health</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-200">
        <ng-icon name="lucideShoppingBasket" class="w-5 h-5 text-gray-600 transition duration-75" />
        <span class="ml-3">Retail</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-200">
        <ng-icon name="lucidePawPrint" class="w-5 h-5 text-gray-600 transition duration-75" />
        <span class="ml-3">Pet</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-200">
        <ng-icon name="lucideLeaf" class="w-5 h-5 text-gray-600 transition duration-75" />
        <span class="ml-3">Flowers</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-200">
        <ng-icon name="lucideHeart" class="w-5 h-5 text-gray-600 transition duration-75" />
        <span class="ml-3">Personal Care</span>
      </a>
    </li>
    <li>
      <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-200">
        <ng-icon name="lucideCircuitBoard" class="w-5 h-5 text-gray-600 transition duration-75" />
        <span class="ml-3">Electronics</span>
      </a>
    </li>
  </ul>
  <!-- Fade-out gradient at the bottom -->
  <div class="absolute bottom-0 left-0 w-full h-16 bg-gradient-to-t from-white to-transparent pointer-events-none"></div>
</div>